@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(assets/RobotoCondensed.woff) format('woff');
}

body {
  background: url(assets/background.jpg) #fff;
  margin: 0px auto;
  font-size: 20px;
  font-family: 'Roboto Condensed';
}

.topbar {
  color: rgb(143, 230, 143);
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  height: 50px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.section {
  clear: left;
}


.box {
  margin: 0 20px;
}

.box:first-child {
  padding-top: 20px;
}

.box:last-child {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

@media screen and (min-width: 840px) {

.section {
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.box {
  margin: 0 auto;
  padding: 10px 0;
  width: 50%;
  float: left;
}

.box:first-child {
  padding-top: 10px;
}

.box:last-child {
  padding-bottom: 10px;
  border-bottom: 0;
}

}

.label {
  margin-top: 8px;
  font-size: 80%;
  color: rgb(192, 233, 195);
}

.info {
  color: white;
  text-shadow: 0 1px 1px #000;
  margin-bottom: 16px;
}

.bar {
  height: 8px;
  margin-top: 4px;
}

.bar-section {
  height: 100%;
  float: left;
}

#cpu-usage .idle {
  background: rgba(0,0,0,.1);
  height: 2px;
  margin-top:2px;
}

#cpu-usage .kernel {
  background: rgba(143, 230, 143, .5);
}

#cpu-usage .user {
  background: rgba(143, 230, 143, .8);
}

#memory-usage .free {
  background: rgba(0,0,0,.1);
  height: 2px;
  margin-top:2px;
}

#memory-usage .used {
  background: rgba(143, 230, 143, .8);
}

.small {
  font-size: 80%;
}