@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(assets/RobotoCondensed.woff) format('woff');
}

::-webkit-scrollbar {
  width: 0px !important;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(180deg, #11575c 0%,#3b8766 100%) no-repeat #3b8766;
  margin: 0px auto;
  font-size: 20px;
  font-family: 'Roboto Condensed';
  overflow-y: scroll;
  height: 100%;
}

.topbar {
  color: rgb(143, 230, 143);
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  height: 50px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.section:before,
.section:after {
  content: '';
  clear: both;
  display: table;
}

.box {
  margin: 0 20px;
}

.box:first-child {
  border-top: 1px solid rgba(255,255,255,.2);
  padding-top: 20px;
}

.box:last-child {
  padding-bottom: 20px;
}

@media screen and (min-width: 840px) {

.section {
  border-top: 1px solid rgba(255,255,255,.2);
}

.box {
  margin: 0 auto;
  padding: 10px 0;
  width: 50%;
  float: left;
}

.box:first-child {
  border: 0;
  padding-top: 10px;
}

.box:last-child {
  padding-bottom: 10px;
  border-bottom: 0;
}

}

label {
  margin-top: 8px;
  font-size: 80%;
  color: rgba(192, 233, 195, .8);
}

.info {
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  margin-bottom: 16px;
}

.bar {
  height: 8px;
  margin-top: 4px;
  background: rgba(0,0,0,.4);
  overflow-x: hidden;
}

.bar-section {
  height: 100%;
  float: left;
  transition: transform .5s ease-in-out;
}

.dim {
  opacity: .4;
  width: 6px;
  text-align: center;
  display: inline-block;
}

.used {
  width: 100%;
  background: rgba(143, 230, 143, .8);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .5);
}

.small {
  font-size: 80%;
}

#local-adapters {
  white-space: nowrap;
}

.hidden {
  display: none;
}